body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

header {
    padding: 20px;
    background-color: #e0e0e0;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: brown;
}

nav {
    background-color: gray;
    padding: 10px 0 10px 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.welcome-section {
    display: flex;
    justify-content:flex-end;
    padding: 20px;
    background-color: #e0e0e0;
}


.welcome-section button {
    background-color: brown;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.view-pay-section {
    padding: 0.2px;
    background-color: #007bff;
    color: white;
    text-align: left;
    margin-top: 10px;
}

.view-pay-section  > h3{
    margin-left: 18px;
}


.table-section {
    padding: 20px;
    margin-top: 10px;
}

#tableh{
    background-color: gray;
}

#tableh > th{
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #f4f4f4;
}

table, th, td {
    text-align: left;
}

th, td {
    padding: 15px;
}

.total-amount-section {
    text-align: right;
    padding: 20px;
    font-size: 18px;
    margin-top: 10px;
    color: brown;
}

.proceed-section {
    text-align: center;
    margin: 15px 0;
}

.proceed-section button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.proceed-section button:hover {
    background-color: #0056b3;
}
